.idea
logs
# virtualenv
/venv/
*.log
*.pot
*.py[cod]
__pycache__
.venv
#项目日志和上传资源目录
/logs/
#/media/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.DS_Store

# 数据库文件
db.sqlite3

# 环境变量文件，开发时使用，生成部署时改为环境变量
.env